<a href="https://colab.research.google.com/github/LakshmyVenkitaraman/symmetrical-invention/blob/main/programpnd2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels=['w','x','y','z']

In [3]:
sample_list=[100,200,300,400]

In [4]:
array=np.array([1,2,3,4])

In [5]:
dict={'w':10,'x':20,'y':30,'z':40}

In [6]:
pd.Series(data=sample_list)

0    100
1    200
2    300
3    400
dtype: int64

In [9]:
pd.Series(data=sample_list,index=labels)

w    100
x    200
y    300
z    400
dtype: int64

In [8]:
pd.Series(sample_list,array)

1    100
2    200
3    300
4    400
dtype: int64

In [11]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

In [13]:
sportss1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])

In [14]:
sportss1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [15]:
sportss1['cricket']

1

In [18]:
sportss2=pd.Series([1,2,3,4],index=['cricket','football','baseball','golf'])

In [19]:
sportss2

cricket     1
football    2
baseball    3
golf        4
dtype: int64

In [20]:
sportss1+sportss2

baseball      NaN
basketball    NaN
cricket       2.0
football      4.0
golf          8.0
dtype: float64

In [32]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns=['score1 score2 score3 score4 score5'])

ValueError: ignored

In [33]:
df1

NameError: ignored

In [ ]:
df1["scores3"]

In [ ]:
df1[["score1","score2","score3"]]

In [ ]:
df1['score6']=df1['score1']+df1['score2']

In [ ]:
df1

In [ ]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],profit:[20,54,56,87,123]}

In [ ]:
df=pd.DataFrame(df2)
df
df["ID"]

In [ ]:
df[["ID","Name"]]

In [ ]:
df=df.drop("ID",axis=1)

In [ ]:
df

In [ ]:
df.drop(3)

In [ ]:
df.drop(2,axis=0)